body {
  margin: 0;
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 30rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}


h1, h2, h3 {
  margin-top: 0;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1.5px solid #d1d5db;
  background: white;
  outline: none;
  font-size: 15px;
}


input:hover,
select:hover,
textarea:hover {
  border: 1.5px solid #d1d5db;
}


button {
  background: #4f46e5;
  color: black;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #4338ca;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 10px;
  border: 1px solid #e5e7eb;
  text-align: left;
  font-size: 14px;
}

th {
  background: #f9fafb;
}

td {
  background: white;
}


a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}


blockquote {
  margin: 1rem 0;
  padding: 1rem;
  background: #eef2ff;
  border-left: 5px solid #4f46e5;
  border-radius: 8px;
  color: #1f2937;
}
